
# terminal
alias e="exa --grid --long --all"
alias etree="exa --icons --tree --color-scale -L 5"
alias ell="exa -l --git --group-directories-first"
alias elg="exa --grid --long --all --classify --binary"
alias la="exa --icons --classify --group-directories-first --color-scale --header --long --time-style=default --binary --git --all"
alias ccc="clear"
alias venv"source ./venv/bin/activate"
alias copy="xclip"
alias paste="xclip -o"

# tmux
alias attach="tmux a -t $*"
alias tmls="tmux ls"

# zsh
alias rezsh="source ~/.zshrc"

# git 
alias gst="git status"
alias gall="git add . && git commit -m $*"
alias gadd="git add $*"
alias clone="git clone $*"
alias gcomm="git commit -m $*"
alias sign-comm="git commit -S -m $*"
alias clone="git clone $*"
alias pull="git pull $*"
alias push="git push $*"

# vim 
alias v="~/.local/bin/lvim"
alias vim="nvim"
alias aliases="nvim ~/.aliases"

# docker
alias compose-up="sudo docker-compose up -d"
alias compose-pull="sudo docker-compose pull $*"
alias compose-down="sudo docker-compose down"
alias docker-prune="sudo docker system prune -a --volumes --force"

# manjaro install shortcuts
# pamac
alias pamsearch="sudo pamac search -a $*"
alias pamadd="sudo pamac install $*"
alias pacadd="sudo pacman -Syu $*"

# tar
alias untar="tar -xvf $*"

# node/npm
alias ni="npm install $*"

# desktop
alias wally="nitrogen --set-zoom-fill --random ~/Pictures/wallpapers"

# rofi
alias rofi="rofi -modi run,drun -show drun -columns 1 -width 24 -lines 8 -padding 45 -hide-scrollbar -show-icons -drun-icon-theme 'Papirus'"

# expressvpn
alias vpn="expressvpn $*"
alias vpnst="expressvpn status"
alias vpndiscon="expressvpn disconnect"

# youtube-dl
# alias download-vid="python3 $(which youtube-dl) --newline -i -o "./vid/%(title)s.%(ext)s" -f mp4 --ignore-config --hls-prefer-native $1"
# alias download-vid="python3 $(which youtube-dl) --newline -i -o "./musc/%(title)s.%(ext)s" -x --audio-format mp3 --ignore-config --hls-prefer-native  $1"

